<!-- Usuario del sistema -->

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Editar Publicación</h4>

        <button type="button" class="close" aria-label="Close" (click)="d('Cerrar')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
          <div class="col text-center">
            <div class="form-group">
              <textarea type="text" class="form-control input-lg" style="max-height: 20vh; min-height: 20vh;" placeholder="Descripcion" [(ngModel)]="descriptionPut"></textarea>
            </div>

             <div class="form-group text-left">

              <div class="text-md-left text-center">

                <img [src]="urlPreview" width="150" height="auto" *ngIf="this.urlPreview !== ''"> <br *ngIf="this.urlPreview !== ''">

                <button class="btn btn-primary my-2" id="botonInsertar" (click)="clickInsertarImagenPut()" *ngIf="this.urlPreview == ''">Insertar Imagen</button>
                <button class="btn btn-primary my-2" id="botonInsertar" (click)="clickInsertarImagenPut()" *ngIf="this.urlPreview !== ''">Cambiar Imagen</button>
                <button class="ml-2 btn btn-danger my-2" id="botonEliminar" (click)="clickEliminarImagen()" *ngIf="this.urlPreview !== ''">Eliminar Imagen</button>

              </div>
              
              <input type="file" accept="image/png,image/jpeg" (change)="capturarImagen($event)" name="imagen" id="imagenPut" placeholder="Insertar Imagen*" style="width:100%; display: none">

            </div>

            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-primary" (click)="putPublicacion(idPut)" type="submit">Cambiar</button>
              </div>
            </div>

          </div>
    </div>
</ng-template>

<ng-template #postContent let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Publicar</h4>

        <button type="button" class="close" aria-label="Close" (click)="d('Cerrar')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
          <div class="col text-center">
            <div class="form-group">
               <form class="form-group w-100" [formGroup]="propertyForm" novalidate>
                      <div class="form-group">
                        <textarea type="text" style="max-height: 20vh; min-height: 20vh;" class="form-control input-lg" placeholder="Escribir" formControlName="Comentarios" id="Id_comentarios"></textarea>
                      </div>

                      <div class="form-group text-left">

                        <div class="text-md-left text-center">

                          <img [src]="urlPreview" width="150" height="auto" *ngIf="this.urlPreview !== ''"> <br *ngIf="this.urlPreview !== ''">

                          <button class="btn btn-primary my-2" id="botonInsertar" (click)="clickInsertarImagen()" *ngIf="this.urlPreview == ''">Insertar Imagen</button>

                          <button class="btn btn-primary my-2" id="botonInsertar" (click)="clickInsertarImagen()" *ngIf="this.urlPreview !== ''">Cambiar Imagen</button>

                          <button class="ml-2 btn btn-danger my-2" id="botonEliminar" (click)="clickEliminarImagen()" *ngIf="this.urlPreview !== ''">Eliminar Imagen</button>

                        </div>
                        <input type="file" accept="image/png,image/jpeg" (change)="capturarImagen($event)" name="imagen" id="imagen" placeholder="Insertar Imagen*" style="width:100%; display: none">
                      </div>

                      <div class="form-group">
                         <button type="button" class="btn btn-gray" [disabled]="propertyForm.invalid" (click)="setPublicaciones();">Publicar</button>
                      </div>
              </form>
            </div>
          </div>
    </div>
</ng-template>

<ng-template #imageContent let-c="close" let-d="dismiss">
   <!--  <div class="modal-header">
        <h4 class="modal-title">{{ descriptionPut }}</h4>

        <button type="button" class="close" aria-label="Close" (click)="d('Cerrar')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div> -->

    <div class="modal-body p-0">
          <div class="col text-center p-0" style="background-color: black;">
            <img id="imagen-modal" src="http://localhost:3000/{{imagePut}}" 
                 class="modal-image-responsive-vertical"
                 *ngIf="getHeightImagePost(idPut) > getWidthImagePost(idPut)" >

             <img id="imagen-modal" src="http://localhost:3000/{{imagePut}}" 
                 class="modal-image-responsive-horizontal"
                 *ngIf="getHeightImagePost(idPut) < getWidthImagePost(idPut)" >
          </div>
    </div>
</ng-template>



<div class="container pt-3">
	<div class="row justify-content-center px-md-5 px-4 py-4 card">

      <a routerLink="/home/post" (click)="open(postContent, '', '')" 
      class="icon-add text-decoration-none">
        <li class="fa fa-plus-circle" style="font-size: 2em"></li> 
        <b style="font-size: 20px;" class="mx-2">Publicar</b>
      </a>

  		<div *ngFor="let publicacion of publicaciones; let indice=index">
        <hr>
        <div class="d-flex">

          <div style="overflow: hidden;width: 50px;height: 50px;border-radius: 50%;">
            <a class="text-decoration-none" [routerLink]="['/home/profile', publicacion.idUser]" >
                <img src="http://localhost:3000/{{publicacion.avatar}}" width="50" height="auto" style="border-radius: 100px; margin-right: 10px;"> 
            </a>
          </div>
          
          <div class="ml-2">
             <a class="text-decoration-none text-dark" [routerLink]="['/home/profile', publicacion.idUser]" > <b style="font-size: 1rem"> {{publicacion.idUser}} </b> <br> </a>
            <span style="font-size: 13px"> {{ publicacion.time }} </span>
          </div>
        </div>
  			  <br *ngIf="publicacion.imagen !== ''">
          <div>
            <a (click)='openImage(imageContent, publicacion._id, publicacion.imagen, publicacion.descripcion)' class="text-decoration-none" *ngIf="publicacion.imagen !== ''">
              <img src="http://localhost:3000/{{publicacion.imagen}}" *ngIf="publicacion.imagen !== ''" class="imagen-post rounded" id="imagen-post-{{publicacion._id}}"> 
            </a>

             <p class="py-3">{{publicacion.descripcion}}</p>
          </div>
  			<div style="display:flex" class="mt-4 justify-content-center">
  				<a routerLink="/home/post" *ngIf="publicacion.idUser == this.username || this.role == 'ADMIN'" class="mr-1" (click)="open(content, publicacion._id, publicacion.descripcion, publicacion.imagen)">
            <span class="fa fa-edit fa-1x"></span>
            <b style="font-size: 14px;" class="mx-2">Editar</b>
          </a>
  				<a routerLink="/home/post" *ngIf="publicacion.idUser == this.username || this.role == 'ADMIN'" (click)="deletePublicacion(publicacion._id)" style="color: red">
  					<span class="fa fa-trash fa-1x"></span>
            <b style="font-size: 14px;" class="mx-2">Eliminar</b>
  				</a>
  			</div>
  		</div>

     <!--  <div class="p-4">
          <div class="justify-content-center text-center">
              <button class="btn btn-primary" (click)="masPublicaciones()"> Mas Publicaciones...</button>
          </div>
      </div> -->

	</div>
</div>